@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@font-face {
    font-family: 'GothamPro';
    src: url('fonts/GothamPro.ttf') format('ttf'),
        url('fonts/GothamPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('/fonts/GothamPro-Medium.ttf') format('ttf'),
        url('/fonts/GothamPro-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('/fonts/GothamPro-BoldItalic.ttf') format('ttf'),
        url('/fonts/GothamPro-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro';
    src: url('/fonts/MyriadPro-Regular.ttf') format('ttf'),
        url('/fonts/MyriadPro-Regular.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamProNarrow';
    src: url('/fonts/GothamProNarrow.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamProNarrow';
    src: url('/fonts/GothamProNarrow-Medium.ttf') format('ttf'),
        url('/fonts/GothamProNarrow-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}