@media (max-width: 1311px) {
  .main-tires {
    background: url(../img/car.png) no-repeat;
    background-size: 517px 353px;
    background-position: 100% 74px;
  }
}

@media (max-width: 1235px) {
  .header::before {
    left: 74%;
  }

  .main-tires {
    background: url(../img/car.png) no-repeat;
    background-size: 450px 300px;
    background-position: 100% 74px;
  }
}

@media (max-width: 1240px) {
  .header-wraper {
    width: 970px;
    margin: 0 auto;
  }

  .formation-unload__wrap {
    flex-direction: column;
  }

  .unloadin-filter .unloadin-filter__wraper {
    flex-direction: column;
  }

  .unloadin-assembly__wrap {
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  .unloading-assembly {
    align-items: baseline;
  }

  .unloadin-assembly__btn {
    margin-top: 26px;
    margin-left: 40%;
  }

  .unloadin-assembly__format label {
    margin-right: 63px;
  }

  .result-card__wrap {
    .cards {
      margin-right: 15px;
    }

    .product-info__your-price {
      font-size: 14px;
    }

    .product-name__wrap {
      max-width: 99px;
      flex-wrap: wrap;
      padding-top: 31px;
      margin-right: 27px;

      p {
        font-size: 14px;
        padding-bottom: 14px;
      }
    }

    .product-name__wraper {
      width: 200px;
    }
  }

  .product-info {
    padding: 0 5px;
  }

  .result-card__wrap .product-name__wraper {
    width: 100%;
  }

  .product-name__wraper {
    padding: 0;
  }

  .product {
    justify-content: space-between;
  }

  .product-article {
    width: 106px;
  }

  .product-general {
    margin: 0;
  }

  .result-card__info {
    max-width: 318px;
    margin-left: 191px;
  }

  .result-catalog-wrap {
    justify-content: center;
  }

  .result-card__info p {
    margin-left: 24px;
  }

  .result-card__info p:nth-child(3n) {
    margin-left: 15px;
  }

  .result-card__wrap .cards {
    max-width: 633px;
  }

  .product-info__internet-price {
    margin-left: 26px;
  }

  .product-info__your-price {
    margin-left: 58px;
  }

  .backet-bar .product-name__wrap {
    margin: 0;
  }

  .backet-bar .product-general {
    margin-left: 29px;
  }

  .product-info__entry-field input {
    width: 68px;
  }
}

@media (max-width: 1220px) {
  .product-name__wraper {
    flex-direction: column;
    color: #0199fd;
  }
}

@media (max-width: 1216px) {
  .haeder-wraper {
    padding: 0 15px;
  }

  .header-wrap {
    max-width: 970px;
  }

  .main {
    max-width: 940px;
  }

  .main-return__link {
    padding-left: 66px;
  }

  .fomation-wraper {
    width: 536px;
  }

  .unloading-categories {
    width: 374px;
  }

  .previously-info__name,
  .previously-info__item {
    width: 374px;
  }

  .unloading-common__wrap {
    padding-left: 15px;
  }

  .footer-nav {
    margin-right: 98px;
  }

  .footer-nav:last-child {
    margin-right: 0;
  }

  .footer-info {
    padding-right: 121px;
  }

  .footer-info__text {
    padding-bottom: 90px;
  }

  .header-tell {
    width: 40%;
  }
}

@media (max-width: 1026px) {
  .header-products {
    padding-left: 30px;
  }
}

@media (max-width: 970px) {
  .main-order__section {
    padding-left: 65px;
  }

  .header-search input {
    width: 455px;
  }

  .header-number:last-child {
    margin-left: 19px;
  }

  .header::before {
    left: 81%;
  }

  .footer-info {
    padding: 0;
  }

  .footer-nav {
    margin: 0;
  }

  .footer-logo__wrap {
    margin: 0;
  }

  .footer-logo__wrap {
    max-width: 278px;
  }

  .footer-nav {
    width: 134px;
    margin: 0 auto;
  }

  .result-card__wrap {
    .product-info__internet-price {
      margin-left: 27px;
    }
  }
}

@media (max-width: 970px) {
  .result-info__btn--wrap {
    display: none;
  }

  .table-oredrs--name .table-oredrs--quantity {
    width: 133px;
  }

  .table-oredrs--name .table-oredrs--stock {
    width: 211px;
  }

  .table-oredrs--name .table-oredrs--sum {
    width: 163px;
  }

  .table-oredrs--name .table-oredrs--status {
    width: 195px;
  }

  .result-card__wrap .cards {
    max-width: 720px;
  }

  .result-card__info p:nth-child(3n) {
    margin-left: 32px;
  }

  .product-info__entry-field {
    margin-left: 40px;
  }

  .product-info__entry-field label {
    margin-right: 14px;
  }
}

@media (max-width: 960px) {
  .result-card__wrap .result-card__info {
    margin-left: 287px;
  }

  .main-order__list {
    padding: 0 16px;
  }

  .backet-bar {
    display: none;
  }

  .result-card__wrap {
    margin: 0 auto;

    .cards {
      padding: 5px 5px 3px 30px;
    }

    .product-info__internet-price {
      margin-left: 46px;
    }

    .product-info__your-price {
      margin-left: 57px;
    }

    .result-card__info p:first-child {
      margin-left: 0;
    }
  }
}

@media (max-width: 920px) {
  .main-tires {
    background: url(../img/car-table.png) no-repeat;
    background-size: 376px 170px;
    background-position: 100% 265px;
  }

  .main-heading__tires {
    font-size: 30px;
    margin: 0;
    padding-top: 56px;
  }

  .main-tires {
    padding: 0 15px;
  }

  .filter-car__btn {
    margin-top: 14px;
  }

  .filter-car__form select {
    min-width: 158px;
  }

  .filter-car__form--wrap label {
    width: 79px;
  }
}

@media (max-width: 862px) {
  .header:before {
    display: none;
  }

  .header-products__list {
    justify-content: center;
  }

  .header-products-item {
    width: 174px;
    padding: 30px 0 23px;
    font-family: GothamProNarrow;
  }

  .active {
    padding-bottom: 78px;
  }

  .header-products-item a {
    font-size: 16px;
  }

  .header-products {
    padding: 0;
  }

  .header-user {
    display: none;
  }

  .header-wrap {
    flex-wrap: wrap;
  }
}

@media (max-width: 842px) {
  .order-list__search--filter:nth-child(odd) {
    margin-bottom: 14px;
  }

  .header-logo__wraper {
    margin: 0 auto;
  }
}



@media (max-width: 842px) {
  .header-search input {
    width: 720px;
    margin: 0 auto;
  }

  .header-search {
    margin: 0 auto;
  }

  /////////////////
  .main-nav__list {
    flex-direction: column;
  }

  .main-nav__item {
    width: 100%;
    text-align: center;
  }

  .menu-icon {
    z-index: 19;
    position: relative;
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .menu-icon-line {
    position: relative;
    width: 30px;
    height: 5px;
    background-color: #000;
  }

  .menu-icon-line::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    width: 30px;
    height: 5px;
    background-color: #000;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }

  .menu-icon-line::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 30px;
    height: 5px;
    background-color: #000;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }

  .menu-icon.menu-icon-active .menu-icon-line {
    background-color: transparent;
  }

  .menu-icon.menu-icon-active .menu-icon-line::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }

  .menu-icon.menu-icon-active .menu-icon-line::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }

  .menu-nav__close {
    display: none;
  }

}

@media (max-width: 842px) {
  .result-info {
    width: 281px;
    padding-bottom: 16px;
  }
}

@media (max-width: 788px) {
  .main-tires {
    background: url(../img/car-table.png) no-repeat;
    background-size: 376px 170px;
    background-position: 98% 280px;
  }

  .active {
    padding-bottom: 72px;
  }

  .result-wrap p {
    font-size: 14px;
  }

  .result-info__wrap p {
    font-family: Myriad Pro;
    font-size: 18px;
    color: #0199fd;
    justify-content: start;

    span {
      margin: 0 5px;
    }
  }

  .result-form__filter__wraper {
    padding-top: 27px;
    border-top: 1px solid rgba(215, 215, 215, 0.5);
  }

  .result-form__filter__wrap select {
    min-width: 221px;
  }

  .result-card__wrap .result-card__info {
    margin-left: 278px;
  }
}

@media (max-width: 750px) {
  .footer-wrap {
    flex-direction: column;
  }

  .footer-logo__wrap {
    max-width: 100%;
  }

  .footer-info {
    margin: 0;
  }
}

@media (max-width: 745px) {
  .product {
    flex-direction: column;
  }


  .result-card__info--desktop {
    display: none;
  }

  .result-card__info--mobil {
    width: 100%;
    display: flex;
    margin: 0;
  }

  .result-card__wrap .result-card__info {
    margin: 0;
  }

  .result-card__info {
    padding: 0;
  }

  .product-general {
    width: 100%;
    justify-content: start;
  }

  .result-card__wrap .product-name__wrap {
    max-width: 300px;
  }

  .cards img {
    width: 37px;
    height: 49px;
    margin: 0 45px;
  }

  .product-article {
    width: 170px;
  }

  .result-card__wrap .product-name__wrap {
    margin: 0;
    justify-content: space-between;
  }

  .result-card__wrap .result-card__info {
    margin-left: 8px;
  }

  .result-card__info {
    max-width: 360px;

  }

  .product-general {
    padding-top: 8px;
    padding-bottom: 22px;
  }

  .result-card__wrap .cards {
    max-width: 450px;
  }

  .product-info__entry-field {
    margin-left: 40px;
  }

  .result-card__wrap .cards {
    padding-left: 0;
  }

  .result-card__wrap .product-name__wrap {
    padding: 0;
    flex-wrap: nowrap;
  }

  .product-name__wrap {
    flex-direction: row;
    width: 500px;
  }
}

@media (max-width: 720px) {
  .result-card__backet {
    display: flex;
    padding-bottom: 20px;
    border: solid 1px rgba(215, 215, 215, 0.5);
  }

  .backet-bar__issue {
    width: 178px;
  }

  .results-cards__btn {
    width: 178px;
  }

  .results-cards__list {
    text-align: center;
  }

  .btn {
    margin-right: 31px;
    padding: 13px 0;
    font-family: GothamProNarrow;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -0.24px;
    color: #ffffff;
  }

  .backet-bar__total--info {
    font-family: GothamPro;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.28px;
    text-align: left;
    color: #333333;
    padding-bottom: 8px;
  }

  .result-catalog-wrap {
    padding-bottom: 159px;
  }

  .backet-bar__total--all p {
    font-size: 18px;
  }

  .backet-bar__total--all .result-card__backet {
    color: #0199fd;
  }
}

@media (max-width: 700px) {
  .header-tell img {
    display: none;
  }

  .header-number:last-child {
    margin: 0;
  }
}

@media (max-width: 450px) {
  .header-search input {
    width: 450px;
    margin: 0 auto;
  }
}

@media (max-width: 749px) {
  .header-search input {
    width: 450px;
  }

  .haeder-wraper {
    max-width: 970px;
    margin: 0 auto;
  }

  .header-bar {
    padding-bottom: 14px;
  }

  .header-products-item {
    width: 120px;
    padding: 18px 0 18px;
  }

  .header-products-item a {
    font-size: 14px;
  }
}

@media (max-width: 719px) {
  .table-oredrs--name span:first-child {
    border: none;
  }

  .table-oredrs--name span:first-child {
    border: none;
  }

  .table-orders--info span:first-child {
    border-right: none;
    border-radius: 2px;
    border-collapse: collapse;
    height: 100%;
  }

  td .table-oredrs--date {
    float: none;
    width: 100%;
  }

  td .table-oredrs--number {
    float: none;
    width: 100%;
  }

  td.table-oredrs--date-name .table-oredrs--number,
  td.table-oredrs--date-name .table-oredrs--date {
    padding: 0;
  }

  .table-oredrs--name th {
    width: 133px;
  }

  .table-oredrs--number {
    width: 100%;
    padding-bottom: 0;
  }

  .table-oredrs--date {
    width: 100%;
    padding-top: 0;
  }

  .table-orders--info td {
    padding: 0 5px;
  }

  .table-oredrs__desktop {
    display: none;
  }

  .table-oredrs__mobile {
    display: table-cell;
    border: 1px solid #1ca1fd;
    padding-right: 9px;
    padding-left: 9px;
  }

  .table-oredrs--name .table-oredrs--quantity {
    width: 60px;
  }

  .table-oredrs--name .table-oredrs--stock {
    max-width: 140px;
  }

  .table-oredrs--name .table-oredrs--sum {
    max-width: 92px;
  }

  .table-oredrs--name .table-oredrs--status {
    max-width: 91px;
  }

  .table-oredrs--name {
    font-size: 14px;
  }

  .header-search input {
    max-width: 420px;
  }

}

@media (max-width: 624px) {
  .main-tires {
    background: url(../img/car-table.png) no-repeat;
    background-size: 211px 114px;
    background-position: 103% 326px;
  }
}

@media (max-width: 536px) {
  .filter-car__form--vertical {
    margin-left: 14px;
  }

  .result-form__filter__wrap select {
    min-width: 195px;
  }

  .result-form__filter__wrap {
    margin-right: 56px;
  }

  .filter-car__form select {
    min-width: 142px;
    margin-right: 14px;
  }

  .filter-car__form--vertical {
    margin-left: 14px;
  }

  .filter-car__form--wrap label {
    width: 72px;
  }
}

@media (max-width: 516px) {
  .product-info__entry-field input {
    width: 68px;
  }

  .product-info__entry-field label {
    margin-right: 14px;
  }

  .result-info {
    padding-bottom: 0;
  }

  .result-info__wrap p {
    font-size: 14px;
  }

  .result-info {
    width: 239px;
  }

  .result-info__wrap {
    max-width: 255px;
  }
}

@media (max-width: 467px) {
  .order-list__search--filter {
    width: 130px;
  }
}

@media (max-width: 450px) {
  .table-orders--info td {
    font-style: 14px;
  }

  .table-oredrs--date-name {
    width: 73px;
  }

  .footer::before {
    content: ' ';
    position: absolute;
    background: url(../img/3.png) no-repeat;
    width: 293px;
    height: 72px;
    right: 35%;
    top: -30px;
    left: 0;
  }

  .footer::after {
    content: ' ';
    position: absolute;
    background: url(../img/shire-mobil.png) no-repeat;
    height: 110px;
    right: 35%;
    top: -60px;
    left: 0;
  }
}